body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    margin: 30px 0;
}

h3 {
    font-size: 30px;
    margin: 0;
}

.high_light {
    color: blue;
}

.border-left-color {
   
    border-left: 5px solid;
    border-image: linear-gradient(rgb(0, 204, 255), rgb(0, 17, 255));
    border-image-slice: 1;
    padding: 0 20px; 
}
.display_container {
    display: flex;
    margin: 0 7%;
}

.half_width {
    width: 50%;
    margin: 50px 0;
    padding: 2% 2%;
}

.half_width-1 {
    width: 70%;
    margin: 50px 0;
    padding: 2% 2%;
    
}

.half_width-2 {
    width: 30%;
    margin: 50px 0;
    padding: 2% 2%;
  
}

.btn_style {
    background-image: linear-gradient(red, tomato);
    padding: 2% 5%;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}

.image-width {
    width: 60%;
    margin: 0 25%;
}

.img_width {
    width: 90%;
}

.text_center {
    text-align: center;
}
#mission_section {
    margin: 0 7%;
}
.mission_width {
    width: 30%;
    margin: 2% 2%;
    padding: 2%;
    border-radius: 20px;
}

.mission_width img {
    width: 50%;
}

#div1_color {
    
    background-color: rgb(192, 178, 153);
}

#div2_color {
    background-color: #82c0d8;
}

#div3_color {
    background-color: #e2eae9;
}

footer {
    background-color: rgb(39, 39, 39);
    color: white;
}

.footer-padding {
    padding: 15px 0px
}